*{
     margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background: #18191a;
    overflow-x:hidden ;

}
.navbar {
    background: #242526;
    width: 100vw;
    padding: 0 20px 0px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgba(255,255,255,0.4);
}

.navbar_left{
    width: 25%;
    display: flex;
    align-items: center;
}
.navbar_logo{
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
.input_icons i {
    position: absolute;
}
.input_icons {
    width: 100%;
}
.icon{
    padding: 13px 10px;
    color: #a8abaf;
    min-width: 20px;
    text-align: center;
    margin-right: 20px;
}
.input-field{
    width: 50%;
    padding: 12px 0 12px 35px;
    background:#3a3b3c ;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: #a8abaf;
}
.input-field:focus{
    outline: none;
}
::placeholder{
    color: #a8abaf;
}
.navbar_center{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.navbar_center a {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

}
.navbar_center a:hover {
    background: #3a3b3c;
    border-radius: 10px;
    height: 55px;
    border: none;
}
.active_icon{
    border-bottom: 3px solid #2d88ff;

}
.active_icon i {
    color: #2d88ff !important;
}
.navbar a , .navbar a i {
    text-decoration: none;
    color: #b8bbbf;
    font-size: 23px;
}
.navbar_right{
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;

}
.navbar_right_profile{
    display: flex;
    align-items: center;
    height: 40px;
    margin-right: 20px;
    transition: 0.2s;
}
.navbar_right_profile:hover{
    background: #3a3b3c;
    border-radius: 25px;
    padding: 0 5px;

}
.navbar_right_profile img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.navbar_right_profile span {
    color: #e9e9ed;
    font-size: 15px;
    font-weight: 500;
}
.navbar_right_links i {
    margin-right: 5px;
    background: #404041;
    padding: 12px;
    border-radius: 100%;
    color: #e7e9ed;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.navbar_right_links i:hover {
    background: #4e4f50;
}
.hustlers{
    color: white;
    margin: right 20px; ;
}
.fas fa-search{
    object-fit: contain;
    vertical-align: middle;
}
.dp{
    border-radius: 100%;
    
}